*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}
.slide-image{
    height: 100vh;
}
img{
    height: 100vh;
}
.hero-slide img{
  width: 100%;
  position: relative;
}
.hero-slide {
    margin-top: 1.5rem;
  height: 100vh;
  display: flex;
  overflow: hidden;
}
.slide-image {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider .content {
  position: relative;
  z-index: 2;
}
.navigation-left{
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 2%;
  filter: invert();
  z-index: 10;
  height: 30px;
}
.navigation-right{
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 2%;
    filter: invert();

  z-index: 1;
  height: 30px;
}

/* parallax  */
.parallax-container {
height: 100vh;
}

.downArrow{
  position: absolute;
  z-index: 99;
  bottom: 0;
  right: 100%;
  left: 47%;
transform: translate (-50%, -50%);
  height: 100px;
  opacity: .7;
}
@media screen and (max-width:768px) {
  .downArrow{
    left: 38%;
  }
}